<!DOCTYPE html>
<html lang="en">
<head>
    <title>LineCMS Documentation</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">  
    <link rel="stylesheet" href="assets/plugins/simplelightbox/simple-lightbox.min.css">
      
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    
</head> 

<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="/">
                            <img src="assets/images/li.png" class="img-fluid">
                        </a>
                    </h1>
                    
                </div><!--//branding-->
                
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Quick Start</li>
                </ol>
                
                <div class="top-search-box">
	                 <form class="form-inline search-form justify-content-center" action="" method="get">
	            
			            <input type="text" placeholder="Search..." name="search" class="form-control search-input">
			            
			            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
			            
			        </form>
                </div>
                
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Quick Start</h1>
                    <div class="meta"><i class="far fa-clock"></i> Last updated: June 22nd</div>
                </div><!--//doc-header-->
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <p>LineCMS is a Content Management System built using a Flask framework (Python 3.*), LineCMS Provides Custom Themes with Jinja Templating engine, 
                                Shop functionality with Stripe's Payment Gateway and a blogging system</p>
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Download</h2>
                                <div class="section-block">
                                    <p>Download the latet version of LineCMS
                                    </p>
                                    <a href="https://github.com/onecore/LineCMS/releases/download/v1.40/LineCMS.1.40.zip" class="btn btn-purple" target="_blank"><i class="fas fa-download"></i> Download LineCMS</a>
                                </div>
                            </section><!--//doc-section-->
                            <section id="installation-section" class="doc-section">
                                <h1 class="section-title">Installation</h1>
                                <div id="step1"  class="section-block">
                                    <h5 class="block-title">Download requirements</h5>
                                    <p>LineCMS requires some python dependency, 
                                    </p>
                                    <p>Install requirements using pip (LineCMS Requires Python >= 3.x.x)</p>
                                    <div class="code-block">
                                        <h6>Navigate to LineCMS folder, Console:</h6>
                                        <p><code class="btn btn-dark rounded border">pip install -r requirements.txt</code> Install all required LineCMS Dependencies</p>
                                    </div><!--//code-block-->
                                </div><!--//section-block-->
                                <div id="step2"  class="section-block"> 
                                    <h3 class="block-title">Run in Debug mode (Development)</h3>
                                    <p>Tweaks and test the CMS
                                    </p>
                                    <h6>Navigate to LineCMS folder, Console:</h6>

                                    <div class="code-block">
                                        <p><code class="btn btn-dark rounded border">export FLASK_DEBUG=1</code> Enables Debug mode</p>
                                        <p><code class="btn btn-dark rounded border">flask run</code> Run the CMS</p>
                                    </div><!--//code-block-->
                                </div><!--//section-block-->

                                <div id="step3"  class="section-block">
                                    <h3 class="block-title">Install Credentials</h3>
                                    <p>Once your server is running you can navigate to
                                    </p>
                                    <code class="btn btn-dark rounded border">http://your-website-link/install</code> to add your Dashboard Credentials and redirected you to Dashboard once the installation is success.

                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                            
                            <section id="temp-code-section" class="doc-section">
                                <h2 class="section-title">Templates</h2>
                                <div class="section-block">
                                    <p>
                                        Templates and resources files are split into 2 folders,<br>
                                        <b>static</b> is where your resources (JS/HTML/Images etc..)<br>
                                        <code class="btn btn-dark rounded border">static/SYSTEM/custom-theme/</code><br>
                                        <b>templates</b> folder is where your HTML files should be<br>
                                        <code class="btn btn-dark rounded border">templates/SYSTEM/custom-theme/</code><br>
                                        
                                        <p>Folder name should have the same name and a Theme.py where the theme information resides</p>
                                        <p>To create your own theme folder you can copy the whole 'blank-theme' inside the LineCMS, update it and compress into .zip file then move the static/templates to its folders or simply Upload the zip file using dashboard</p>
                                    
                                    </p>
                                    <p>
                                       <h2 class="section-title">Linking resources</h2>

                                       <p>Linking CSS,JS and other files into your HTML files</p><br>
                                       Use of <b>static_link(from='custom-theme',get='style.css')</b> template function, more detailed information about this function below.<br>
                                       <pre><code class="language-markup">&lt;!DOCTYPE html&gt; 
&lt;html lang=&quot;en&quot;&gt;            {% raw %}
&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ static_link('custom-theme','style.css') }}&quot;&gt;
                                            {% endraw %}
                                       </code></pre>
                                    </p>
                                    
                                </div><!--//section-block-->

                            <!--//section-block-->
                            </section><!--//doc-section-->

                            <section id="temp-funcs" class="doc-section">
                                <h2 class="section-title">Template functions</h2>
                                <p>Functions for your HTML files</p>
                                <div id="step1"  class="section-block">

                                    <h2>Admin button</h2><p><code class="btn btn-warning rounded border  text-muted">admin_button()</code> Shows a hyperlink button to Dashboard if the 'logged' session exists (Logged in), returns string (HTML button)</p>
                                    <hr>
                                    <h2>Resource loader</h2><p><code class="btn btn-warning rounded border  text-muted">link_for(theme='my-template',path='file.js')</code> 
                                       Loads the 'file.js' from 'my-template' in /static/SYSTEM/ folder
                                        <pre class="border">

    Args:
        theme (str): theme name
        path (str): file name or a folder path to a file

    Returns:
        string: url of a file
                                        </pre>             
                                        <hr>     
                                    <h2>Load Products</h2><p><code class="btn btn-warning rounded border  text-muted">load_products(counts=12,category="tech")</code> Shows '12' products under 'tech' category</p>
                                        <pre class="border">

    Args:
        single (str, optional): product_id. Defaults to False.
        search (str, required if single = False): title/description search. Defaults to None.
        category (str, required if single = False): categorize search_. Defaults to None.
        offset (int, required if single = False): offset search. Defaults to 0.
        per_page (int, required if single = False): per_page for navigation. Defaults to 3.

    Returns:
        tuple: products
                                        </pre>


                                        <hr>     
                                    <h2>Load Blogs</h2><p><code class="btn btn-warning rounded border text-muted">load_blogs(counts=[0,5])</code> Load blogs with offset [0,5]</p>
                                        <pre class="border">

    Args:
        count (int [offset,offset], default): uses SQLite Limit. Defaults to 5.
        single (str, optional): blog route, loads single blog post. Defaults to False.

    Returns:
        tuple: blogs
                                        </pre>

                                        <hr>     
                                    <h2>Set Attribute</h2><p><code class="btn btn-warning rounded border text-muted">setattribute('product',my_product)</code> <br>
                                        Purpose of setattribute() is to assign an attribute name base on column index from database,<br>
                                        instead of retrieving a 'category' value using <u>product[3]</u> you can use <u>product.category.</u>
                                        It's good to include <b>setattribute()</b> inside a Jinja's for loop.<br>
                                        example below with using 'product' as first argument to let LineCMS that it's a product object,<br>
                                        followed by iterable my_product object from database,<br>
                                        available keys:  'product','blog','site','mod','orders'
                                        
                                    </p>
<pre class="border">
{% raw %}
<xmp>
    {% for my_products in load_products(counts=[0,3]) %}            // jinja for-loop using load_products()
      {% set product = setattribute('product', my_products) %}       // create a variable product contains setattribute()
      
      <p>This is {{ product.title }} and for sale for {{ product.price }}</p>

    {% endfor %}
</xmp>
{% endraw %}
</pre>
<p>
    Without 'setattribute()' function you will have to use indexing to get a value<br>
    e.g to get 'category' value you have to use my_product[3] instead of my_product.category
</p>
                                </div><!--//section-block-->

                                
                                
                            </section>


                            <section id="temp-em" class="doc-section">
                                <h2 class="section-title">Email templates (Enabled SMTP Required)</h2>
                                <p>You will need to set-up your SMTP Settings enable to use the Templates below which will be sent to the customer's email</p>
                                <p>SMTP settings can be updated thru <b>Dashboard > Products > Settings</b> and look for the <b>Email Settings</b></p>
                                <div id="step1"  class="section-block">

                                    <p>Email templates can be editted from <b>Dashboard > Products > Settings</b> </p>
                                    <p><b>Fulfilled Template</b>: Is the template used when a Customer order has been Fulfilled (Completed)</p>
                                        <ul>
                                            {% raw %}
                                            <li>
                                                <b>{{ COMPANYNAME }}</b>: Loads the Name of your website
                                            </li>
                                            <li>
                                                <b>{{ COMPANYNUMBER }}</b>: Loads the Phone Number of your website
                                            </li>
                                            <li>
                                                <b>{{ COMPANYEMAIL }}</b>: Loads the Email of your website
                                            </li>
                                            <li>
                                                <b>{{ TRACKINGLINK }}</b>: Loads the Tracking link you supplied (Will show if not empty)
                                            </li>
                                            <li>
                                                <b>{{ ORDERNUMBER }}</b>: Loads a unique system generated order number
                                            </li>
                                            <li>
                                                <b>{{ ORDERTOTAL }}</b>: Loads the amount of orders (USD) from Stripe
                                            </li>
                                            <li>
                                                <b>{{ ORDERDATE }}</b>: Loads the creation date of the order
                                            </li>
                                            <li>
                                                <b>{{ CUSTOMERNAME }}</b>: Loads the customer name
                                            </li>
                                        </ul>

                                    <p><b>Placed Template</b>: Is the template used when a Customer payment has been placed</p>
                                        <ul>
                                            <li>
                                                <b>{{ COMPANYNAME }}</b>: Loads the Name of your website
                                            </li>
                                            <li>
                                                <b>{{ COMPANYNUMBER }}</b>: Loads the Phone Number of your website
                                            </li>
                                            <li>
                                                <b>{{ COMPANYEMAIL }}</b>: Loads the Email of your website
                                            </li>
                                            <li>
                                                <b>{{ ORDERTOTAL }}</b>: Loads the amount of orders (USD) from Stripe
                                            </li>
                                            <li>
                                                <b>{{ ORDERDATE }}</b>: Loads the creation date of the order
                                            </li>
                                            <li>
                                                <b>{{ CUSTOMERNAME }}</b>: Loads the customer name
                                            </li>
                                        </ul>
                                        {% endraw %}
                                </div><!--//section-block-->
                                
                            </section>

                            <section id="temp-pengine" class="doc-section">
                                <h2 class="section-title">View templates</h2>
                                <p>Below are the information of every views (HTML Files)</p>
                                <p>LineCMS uses Jinja for its Templating system</p>
                                <div id="p1"  class="section-block">
                                    <h2>Index View</h2>
                                    <p>File: index.html</p>
                                    <p>Avaiable template variables</p>
                                    <ul>
                                        <li>   {% raw %}
                                            <p><b>{{ site.site_description }}</b> returns website logo file name</p>
                                        </li>
                                                {% endraw %}
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.sitename }}</b> website name</p>
                                                {% endraw %}
                                        </li>                                        
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.footer_copyright }}</b> returns website title</p>
                                                {% endraw %}
                                        </li>                                       
                                         <li>
                                            {% raw %}
                                            <p><b>{{ site.logo }}</b> returns website logo file</p>
                                                {% endraw %}
                                        </li>
                                         <li>
                                            {% raw %}
                                            <p><b>{{ site.favicon }}</b> returns website favicon icon</p>
                                                {% endraw %}
                                        </li>
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.domain }}</b> returns website domain</p>
                                                {% endraw %}
                                        </li>                                        
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.meta_description }}</b> returns website description</p>
                                                {% endraw %}
                                        </li>                                        
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.meta_keywords }}</b> returns website keywords</p>
                                                {% endraw %}

                                        </li>                                        
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.messages }}</b> returns website messages (Dict value)</p>
                                                {% endraw %}
                                        </li>
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.site_phone }}</b> returns website phone number</p>
                                                {% endraw %}
                                        </li>
                                        <li>
                                            {% raw %}
                                            <p><b>{{ site.site_email }}</b> returns website email</p>
                                                {% endraw %}
                                        </li>
                                        <li>
                                                {% raw %}
                                            <p><b>{{ site.site_location }}</b> returns Address/Location</p>
                                                {% endraw %}
                                        </li>
                                    </ul>
                                </div><!--//section-block-->
                                 <div id="p2"  class="section-block">
                                    <h2>Single Blog View</h2>
                                    <p>File: blog.html</p>
                                    <p>Avaiable template variables</p>
                                    <ul>
                                        <li>   {% raw %}
                                            <p><b>{{ blog.id }}</b> returns blog unique id</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.title }}</b> returns blog title</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.image }}</b> returns blog main image</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.body }}</b> returns blog post body (html)</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.timestamp }}</b> returns blog timestamp</p>
                                        </li>
                                                {% endraw %}
                              
                                        <li>   {% raw %}
                                            <p><b>{{ blog.url }}</b> returns blog unique URL</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.hidden }}</b> returns visibility (0-Visible, 1-Hidden)</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.category }}</b> returns category (string)</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ blog.categories }}</b> returns category (iterable)</p>
                                        </li>
                                                {% endraw %}
                              
                                    </ul>
                                </div><!--//section-block-->
                                 <div id="p3"  class="section-block">
                                    <h2>Blog listing View</h2>
                                    <p>File: blog-list.html</p>
                                    <p>Avaiable template variables</p>
                                    <ul>
                                        <li>   {% raw %}
                                            <p><b>{{ blogs }}</b> list of blog posts</p>
                                        </li>
                                                {% endraw %}                                    
                                    </ul>
                                    <p>Iterate through Blog posts object, example below</p>
<pre class="border">
{% raw %}
<xmp>
    {% for my_blogs in blogs %}            // jinja for-loop using blog list
    {% set blog = setattribute('product', my_blogs) %}       // create a variable blog contains setattribute()
    
    <p>This is title: {{ blog.title }} with #{{ blog.id }} unique id</p>

    {% endfor %}
</xmp>
{% endraw %}
</pre>
                                </div><!--//section-block-->
                                 <div id="p4"  class="section-block">
                                    <h2>Single Product View</h2>
                                    <p>File: product.html</p>
                                    <p>Avaiable template variables</p>
                                    <ul>
                                        <li>   {% raw %}
                                            <p><b>{{ product.id }}</b> returns product unique column id</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.title }}</b> returns product title</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.category }}</b> returns product category (str)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.variants }}</b> returns product variants (list)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.product_url }}</b> returns product url (user generated)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.product_urlsystem }}</b> returns product url (system generated)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.seo_description }}</b> returns seo description (str)</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ product.seo_keywords }}</b> returns product keywords (str)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.images }}</b> returns product images (list)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.mainimage }}</b> returns product main image path</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.variant_details }}</b> returns product variant information (dict)</p>
                                        </li>
                                                {% endraw %}
                                        <li>   {% raw %}
                                            <p><b>{{ product.timestamp }}</b> returns product timestamp (date and time)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.hidden }}</b> returns product hidden status (1/0, 1=hidden)</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.product_id }}</b> returns product system generated unique id</p>
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.body }}</b> returns product html body (description)
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.price }}</b> returns product price (string)
                                        </li>
                                                {% endraw %}
                                         <li>   {% raw %}
                                            <p><b>{{ product.stock }}</b> returns product stock count (inventory)
                                        </li>
                                                {% endraw %}
 
                              
                                    </ul>
                                </div><!--//section-block-->
                                 <div id="p5"  class="section-block">
                                </div><!--//section-block-->
                                 <div id="p6"  class="section-block">
                                </div><!--//section-block-->
                                
                            </section>
                            <!-- END -->
                            
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
	                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
		                            <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#download-section">Download</a>
		                            </li>
		                            <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#installation-section">Installation</a>
		                            </li>
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#step1">Download requirements</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#step2">Run in your system</a>
	                                    </li>

                                    </nav><!--//nav-->
                                    <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#temp-code-section">Templates</a>
                                    </li>
                                    
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#temp-code-section">Creating your own Template/Theme</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#temp-funcs">Template Functions</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#temp-em">Email Template</a>
	                                    </li>
	                                    <!-- <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Endpoints (POST)</a>
	                                    </li> -->
                                    </nav><!--//nav-->

                                    <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#temp-pengine">HTML Templates</a>
                                    </li>
                                    
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p1">Index view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p2">Single Blog view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p3">Blogs list view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p4">Single Product view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p5">Products list view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p6">Product similar view</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#p7">Order success view</a>
	                                    </li>
	                                    <!-- <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Endpoints (POST)</a>
	                                    </li> -->
                                    </nav><!--//nav-->

                                    <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#temp-pengine">Modules</a>
                                    </li>
                                    
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Announcement</a>
	                                    </li>
 	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Image with Message</a>
	                                    </li>
 	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Uparrow</a>
	                                    </li>
 	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Social share</a>
	                                    </li>
 	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">View embed</a>
	                                    </li>
 	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#less">Extras</a>
	                                    </li>
                                        
                                    </nav><!--//nav-->
                                    <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#code-section">Payment Gateway setup</a>
                                    </li>
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#html">API Keys</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#css">Webhooks</a>
	                                    </li>

                                    </nav><!--//nav-->
                                    <li class="nav-item">
	                                    <a class="nav-link scrollto" href="#code-section">Settings file</a>
                                    </li>
                                    <nav class="nav doc-sub-menu nav flex-column">
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#html">Settings Information</a>
	                                    </li>
	                                    <li class="nav-item">
                                            <a class="nav-link scrollto" href="#css">Other Information</a>
	                                    </li>

                                    </nav><!--//nav-->
	                            </nav><!--//doc-menu-->
	                        
                        </div>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
        
 
        
    </div><!--//page-wrapper-->
    

    
     
    <!-- Main Javascript -->          
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/prism/prism.js"></script>      
    <script src="assets/plugins/stickyfill/dist/stickyfill.min.js"></script>      
    <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
    <script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>                                                          
    <script src="assets/js/main.js"></script>
    
</body>
</html> 

